audioread==2.1.8
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
Django==2.2.12
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.2
joblib==0.15.1
kiwisolver==1.2.0
librosa==0.7.2
llvmlite==0.32.1
matplotlib==3.2.1
moviepy==1.0.3
numba==0.49.1
numpy==1.18.4
Pillow==7.1.2
pitch==0.0.6
proglog==0.1.9
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
resampy==0.2.2
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
SoundFile==0.10.3.post1
sqlparse==0.3.1
threadpoolctl==2.0.0
tqdm==4.46.0
urllib3==1.25.9
